@import "bootstrap/base";

@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/forms';

.search-box {
  .search-button {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

.search-wrapper {
  margin-bottom: $form-group-margin-bottom;

  & > button {
    margin-right: $btn-padding-x;
  }
}
